*{margin: 0;padding: 0;box-sizing: border-box;}

.app{
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app .container{
  width: 70vmax;
  height: 35vmax;
  background-color: rgb(195, 255, 255);

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.container div{
  width: 28px;
  height: 28px;
  background-color: rgba(0, 0, 163, 0.521);
  border: 1px solid #000;
  

}

button{
  margin-top: 20px;
}